//create a .env.development file with the following content:

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=career_mate_dev
JWT_TOKEN_SIGN_IN="modify the token"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GROQ_API_KEY=your-groq-api-key
TAVILY_API_KEY=your-tavily-api-key
GEMINI_API_KEY=your-gemini-api-key
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=yourpassword